@using Web.Areas.Admin.ViewModels.UserManagement.User
@using Core.Constants.User
@model UserEditViewModel

@{
    ViewData["Title"] = "Users";
}


@section plugin_styles{
    <link href="~/admin/metrica/assets/plugins/select/selectr.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="user" asp-action="list" asp-area="admin">Users</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
            <h4 class="page-title">Edit user</h4>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ActionResultMessage")

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" asp-controller="user" asp-action="edit" asp-area="admin" id="user-edit">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" />

                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback" style="display:block"></div>
                    </div>

                    <div class="row">
                        <div class="card-body border mb-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-check form-switch form-switch-success">
                                        <input asp-for="EmailConfirmed" class="form-check-input">
                                        <label asp-for="EmailConfirmed" class="form-check-label"></label>
                                        <span asp-validation-for="EmailConfirmed" class="invalid-feedback" style="display:block"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check form-switch form-switch-success">
                                        <input asp-for="SmsNotificationEnabled" class="form-check-input">
                                        <label asp-for="SmsNotificationEnabled" class="form-check-label"></label>
                                        <span asp-validation-for="SmsNotificationEnabled" class="invalid-feedback" style="display:block"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check form-switch form-switch-success">
                                        <input asp-for="NewsNotificationEnabled" class="form-check-input">
                                        <label asp-for="NewsNotificationEnabled" class="form-check-label"></label>
                                        <span asp-validation-for="NewsNotificationEnabled" class="invalid-feedback" style="display:block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                <label asp-for="PhonePrefixId"></label>
                                <select class="form-select" asp-for="PhonePrefixId" asp-items='new SelectList(Model.PhonePrefixes,"Id", "Prefix")'>
                                    <option value="">....</option>
                                </select>
                                <span asp-validation-for="PhonePrefixId" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-3">
                                <label asp-for="PhoneNumber"></label>
                                <input class="form-control" asp-for="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Email"></label>
                                <input class="form-control" asp-for="Email">
                                <span asp-validation-for="Email" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="FirstName"></label>
                                <input class="form-control" asp-for="FirstName">
                                <span asp-validation-for="FirstName" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="LastName"></label>
                                <input class="form-control" asp-for="LastName">
                                <span asp-validation-for="LastName" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Country"></label>
                                <input class="form-control" asp-for="Country">
                                <span asp-validation-for="Country" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="City"></label>
                                <input class="form-control" asp-for="City">
                                <span asp-validation-for="City" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label asp-for="Gender"></label>
                                <select class="form-select" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                                <span asp-validation-for="Gender" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label asp-for="BirthMonth"></label>
                                <select class="form-select" asp-for="BirthMonth" asp-items="Html.GetEnumSelectList<Month>()"></select>
                                <span asp-validation-for="BirthMonth" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label asp-for="BirthDay"></label>
                                <input class="form-control" asp-for="BirthDay">
                                <span asp-validation-for="BirthDay" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label asp-for="BirthYear"></label>
                                <input class="form-control" asp-for="BirthYear">
                                <span asp-validation-for="BirthYear" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="mb-3" asp-for="RolesIDs"></label>
                            <select id="roles_multiselect" asp-for="RolesIDs" asp-items='new SelectList(Model.Roles,"Id", "Name")' style="width: 100%" multiple="multiple" data-placeholder="Choose.."></select>
                            <span asp-validation-for="RolesIDs" class="invalid-feedback" style="display:block"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Staff panel permissions</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <span asp-validation-for="Permissions" class="invalid-feedback" style="display:block"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="bg-light p-3">
                            @*<h3 class="mb-3 mt-0">
                                    @permisson.Category
                                </h3>*@
                            <div class="row pb-1">
                                @for (int permissonIndex = 0; permissonIndex < Model.Permissions.Count; permissonIndex++)
                                {
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">
                                                    @Model.Permissions[permissonIndex].Name
                                                </h4>
                                                <p class="text-muted mb-0">
                                                    @Model.Permissions[permissonIndex].Info
                                                </p>
                                                <span asp-validation-for="Permissions[permissonIndex].Key" class="invalid-feedback" style="display:block"></span>
                                            </div>
                                            <!--end of card-header -->

                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-check form-switch form-switch-success">
                                                            <input form="user-edit" class="form-check-input" asp-for="@Model.Permissions[permissonIndex].IsSelected">
                                                            <input form="user-edit" type="hidden" asp-for="@Model.Permissions[permissonIndex].Key" />
                                                            <input form="user-edit" type="hidden" asp-for="@Model.Permissions[permissonIndex].Name" />
                                                            <input form="user-edit" type="hidden" asp-for="@Model.Permissions[permissonIndex].Info" />
                                                            <label class="form-check-label" asp-for="@Model.Permissions[permissonIndex].Key">Enable/Disable</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end of card-body -->
                                        </div>
                                    </div>
                                }
                            </div><!--end project-list-left-->
                        </div><!--end /div-->
                    </div>
                    <!--end col-->
                </div><!--end row-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit" form="user-edit">Save</button>
                    <a asp-controller="user" asp-action="list" asp-area="admin" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section plugin_scripts{
    <script src="~/admin/metrica/assets/plugins/select/selectr.min.js" asp-append-version="true"></script>
}


@section scripts{
    <script src="~/admin/metrica/assets/pages/UserManagement/User/Edit.js" asp-append-version="true"></script>
}

